<!-- Header -->
<header id="header" class="bg-secondary">
  <nav class="container flex items-center justify-start px-4 py-8 mx-auto">
    <!-- App Name -->
    <a class="mr-4 text-3xl font-bold text-indigo-400 uppercase" routerLink="/"
      >Clips</a
    >

    <div class="flex items-center flex-grow">
      <!-- Primary Navigation -->
      <ul class="flex flex-row mt-1">
        <!-- Navigation Links -->
        <!-- ? we are subscribing to the observable in the auth is authenticaed and that passes the true or false  when the users enter it is true like that-->
        <li *ngIf="!(auth.isAuthenticated$ | async); else authLinks">
          <a class="px-2" href="#" (click)="openModal($event)">
            Login / Register
          </a>
        </li>
        <ng-template #authLinks>
          <li>
            <a
              class="px-2"
              routerLink="/manage"
              routerLinkActive="text-indigo-400"
              [routerLinkActiveOptions]="{ exact: true }"
              [queryParams]="{ sort: '1' }"
              >Manage</a
            >
          </li>
          <li>
            <a
              class="px-2"
              routerLink="/upload"
              routerLinkActive="text-indigo-400"
              >Upload</a
            >
          </li>
          <li>
            <a class="px-2 cursor-pointer" (click)="auth.logout($event)"
              >Log Out</a
            >
          </li>
        </ng-template>
        <li routerLinkActive="text-indigo-400">
          <a class="px-2" routerLink="/about" routerLinkActive="text-indigo-400"
            >About</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
